on boot
    chmod 0666 /dev/oncrpc/30000000:ddc9bd91
    chown root.qcom_oncrpc /dev/oncrpc/30000000:ddc9bd91
    chmod 0666 /dev/oncrpc/30000012:00040000
    chown root.qcom_oncrpc /dev/oncrpc/30000012:00040000
    chmod 0666 /dev/oncrpc/30000003:febcbbaf
    chown root.qcom_oncrpc /dev/oncrpc/30000003:febcbbaf
    chmod 0666 /dev/oncrpc/3000000e:00090000
    chown root.qcom_oncrpc /dev/oncrpc/3000000e:00090000

service ril-daemon1 /system/bin/rild -c 1
    class late_start
    socket rild1 stream 660 root radio
    socket rild-debug1 stream 660 radio system
    user root
    group radio cache inet misc audio sdcard_r sdcard_rw qcom_oncrpc qcom_diag log
