service ril-daemon1 /system/bin/rild -c 1
    class late_start
    socket rild1 stream 660 root radio
    socket rild-debug1 stream 660 radio system
    user root
    group radio cache inet misc audio sdcard_rw qcom_oncrpc diag

